.react-flow__node.react-flow__node-default {
    color: black;
}

.react-flow__controls-button {
    color: black !important; 
}

.react-flow__controls-button:hover {
    color: rgb(39, 39, 39) !important;
}