@layer base {
    :root {
      --sidebar-background: 36 25% 96%;
      --sidebar-foreground: 0 0% 24%;
      --sidebar-primary: 109 16% 54%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 36 20% 92%;
      --sidebar-accent-foreground: 0 0% 24%;
      --sidebar-border: 36 15% 85%;
      --sidebar-ring: 109 16% 54%;
      --chart-1: 109 16% 54%;
      --chart-2: 202 20% 63%;
      --chart-3: 16 25% 50%;
      --chart-4: 42 30% 55%;
      --chart-5: 10 20% 60%;
    }
  
    .dark {
      --sidebar-background: 60 4% 16%;
      --sidebar-foreground: 36 33% 94%;
      --sidebar-primary: 120 14% 64%;
      --sidebar-primary-foreground: 60 4% 12%;
      --sidebar-accent: 60 3% 23%;
      --sidebar-accent-foreground: 36 33% 94%;
      --sidebar-border: 60 3% 23%;
      --sidebar-ring: 120 14% 64%;
      --chart-1: 120 14% 64%;
      --chart-2: 204 20% 76%;
      --chart-3: 16 30% 55%;
      --chart-4: 42 35% 65%;
      --chart-5: 10 25% 65%;
    } 
  }

  @layer components {
    .no-spinner {
      -moz-appearance: textfield;
    }
  
    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }