@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 97%;
    --foreground: 0 0% 24%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 24%;
    --primary: 109 16% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 36 25% 92%;
    --secondary-foreground: 0 0% 24%;
    --muted: 36 25% 92%;
    --muted-foreground: 36 8% 54%;
    --accent: 202 20% 63%;
    --accent-foreground: 0 0% 24%;
    --destructive: 0 40% 64%;
    --destructive-foreground: 0 0% 100%;
    --border: 36 15% 85%;
    --input: 36 15% 85%;
    --ring: 109 16% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 60 4% 16%;
    --foreground: 36 33% 94%;
    --card: 60 3% 19%;
    --card-foreground: 36 33% 94%;
    --popover: 60 3% 19%;
    --popover-foreground: 36 33% 94%;
    --primary: 120 14% 64%;
    --primary-foreground: 60 4% 12%;
    --secondary: 60 3% 23%;
    --secondary-foreground: 36 33% 94%;
    --muted: 60 3% 23%;
    --muted-foreground: 36 5% 60%;
    --accent: 204 20% 76%;
    --accent-foreground: 60 4% 12%;
    --destructive: 0 30% 40%;
    --destructive-foreground: 36 33% 94%;
    --border: 60 3% 23%;
    --input: 60 3% 23%;
    --ring: 120 14% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
